<h1>Edit Posts</h1>
<%= form_with(model: @post, local: true) do |form| %>
    <% if @post.errors.present? %>
        <p class="form-errors">
            <%= @post.errors.full_messages.join(", ") %>
        </P>
    <% end %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title%>
    </div>
    <div>
        <%= form.label :body %>
        <%= form.text_area :body%>
    </div>
    <%= form.submit %>
<% end %>
