<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= render 'layouts/header' %>
  <div class="container">
    <body>
      <% if user_signed_in? %>
        Hello <%= current_user.name %>
        <%= link_to "Sign out", session_path, method: :delete, data: {confirm: "are you sure you want to sign out?"} %>
      <% else %>
        <%= link_to "Sign in", new_session_path %>
        <%= link_to "Sign Up", new_user_path %>
      <% end %>
      <hr>
      <% flash.each do |type, message| %>
        <div class="flash flash-<%= type %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </body>
  </div>
</html>
